---
	import DefaultLayout from '../layouts/DefaultLayout.astro';
	/**@NOTE - 	you're really, really going to want to make sure your
	 *  				.md files & their parent directories are located in the
	 * 					/src/pages directory so you can rely on file-based routing
	 * */ 

	// const allTutorials = Astro.fetchContent('./tutorials/*/*.md');
	const sections = Astro.fetchContent('./sections/*/*.md');
	console.log(sections);
---
<DefaultLayout title="a11y.build" sections={sections}>
	{sections.map((section) => `<section class="post flow">
		<div class="section-header">
			<a href="/#${section.slug}">
				<h2 id=${section.slug} class="section-heading">${section.title}</h2>
			</a>
			<a href="${section.url}" class="section-permalink">(permalink)</a>
		</div>
		<time>
		Last updated: 
			<a href="${section.url}">
				${new Date(section.date)
								.toLocaleString(
									'en-us', 
									{
										weekday: 'long', 
										year: 'numeric', 
										month: 'long', 
										day: 'numeric'
									}
								)
				}
			</a>
		</time>
		${section.astro.html}
	</section>`)}
</DefaultLayout>