---
  import HeadLayout from './HeadLayout.astro';
  import BlogHeadLayout from './BlogHeadLayout.astro';
  import Header from '../components/Header.astro';
  import Footer from '../components/Footer.astro';
  import Navbar from '../components/Navbar.astro';
  import TOCBar from '../components/TOCBar.astro';
  const sections = Astro.fetchContent('../pages/sections/*/*.md');
  const { content } = Astro.props;
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <HeadLayout title={content.title}>
    <BlogHeadLayout title={content.title} permalink={content.permalink} description={content.description}></BlogHeadLayout>
  </HeadLayout>

</head>

<body>
  <Header />
  <Navbar sections={sections} />

  <main class="flow" id="main">
    <section class="post flow">
      <h2 class="section-heading">{content.title}</h2>
      <time>
        Last updated: 
            {new Date(content.date)
              .toLocaleString(
                'en-us', 
                {
                  weekday: 'long', 
                  year: 'numeric', 
                  month: 'long', 
                  day: 'numeric'
                }
              )
            }
        </time>
        <slot />
    </section>
  </main>
  <TOCBar />

  <Footer />
</body>
</html>