---
  import HeadLayout from './HeadLayout.astro';
  import BlogHeadLayout from './BlogHeadLayout.astro';
  import Header from '../components/Header.astro';
  import Footer from '../components/Footer.astro';
  import Sidebar from '../components/Sidebar.svelte';
  import TutorialOverview from '../components/TutorialOverview.svelte';

  const guideSections =     Astro.fetchContent('../pages/sections/*/*.md');
  const tutorialSections =  Astro.fetchContent('../pages/tutorials/*/*.md');
  const postSections =      Astro.fetchContent('../pages/posts/*/*.md');

  const menus = [tutorialSections, guideSections, postSections];
  const menuTitles = ['Tutorials', 'Guide', 'More'];
  const { content } = Astro.props;
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <HeadLayout title={content.title}>
    <BlogHeadLayout title={content.title} permalink={content.permalink} description={content.description}></BlogHeadLayout>
  </HeadLayout>

</head>

<body>
  <Header />
  <input type="checkbox" id="switcher" />
  <Sidebar titles={menuTitles} menus={menus} />

  <main class="flow" id="main">
    <section class="post flow">
      <h1 class="section-heading">{content.title}</h2>
      <time>
        Last updated: 
            {new Date(content.date)
              .toLocaleString(
                'en-us', 
                {
                  weekday: 'long', 
                  year: 'numeric', 
                  month: 'long', 
                  day: 'numeric'
                }
              )
            }
        </time>
        <TutorialOverview items={content.overviewItems}/>
        <slot />
    </section>
  </main>

  <Footer />
</body>
</html>